Repository IAmJonoBo/nootropic, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, github-actions

.github/labeler.yml:

# Labeler configuration for PRs

# Label all Dependabot PRs for npm/pnpm dependencies
'dependencies':
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label Dependabot PRs for GitHub Actions updates
'github-actions':
  - '.github/workflows/*.yml'

chore: update all dependencies to latest
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: update docs and project files
  .github/workflows/dependabot-auto-merge.yml
  .specstory/history/2025-06-04_12-32-(1)-clarifying-project-implementation-details.md
  .specstory/history/2025-06-04_20-11-push-code-to-github.md
  pnpm-workspace.yaml
  renovate.json
Labels: github-actions

chore: update dependencies and story log
  .specstory/history/2025-06-04_20-11-push-code-to-github.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: add permissions block to GitHub Actions workflows (less strict for personal repo)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
Labels: github-actions

chore: update story log
  .specstory/history/2025-06-04_20-11-push-code-to-github.md
Labels: none

Update 2025-06-04_20-11-push-code-to-github.md
  .specstory/history/2025-06-04_20-11-push-code-to-github.md
Labels: none

feat: implement AppleDouble file prevention measures
  .gitattributes
  .github/workflows/apple-double-check.yml
  .husky/pre-push
  docs/development/APPLE_DOUBLE_PREVENTION.md
  scripts/clean-apple-double.sh
  scripts/pre-build-cleanup.js
Labels: github-actions

chore: update husky configuration and add lint-staged
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: dependencies
